/* Animations */

.left-fast {
  -webkit-animation-name: left-fast;
  -webkit-animation-duration: 900ms; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.right-fast {
  -webkit-animation-name: right-fast;
  -webkit-animation-duration: 1000ms; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.roll-in-left {
  -webkit-animation-name: roll-in-left;
  -webkit-animation-duration: 900ms; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.up {
  -webkit-animation-name: up;
  -webkit-animation-duration: 500ms; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.down {
  -webkit-animation-name: down;
  -webkit-animation-duration: 500ms; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.fade-in {
  -webkit-animation-name: fade-in;
   -webkit-animation-duration: 1.6s; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.delay {
  -webkit-animation-delay: 1.8s;
}

.delay2 {
  -webkit-animation-delay: 1.2s;
}

.first { -webkit-animation-delay: 250ms;}
.second { -webkit-animation-delay: 375ms;}
.third{ -webkit-animation-delay: 500ms;}
.fourth{ -webkit-animation-delay: 625ms;}
.fifth{ -webkit-animation-delay: 750ms;}
.sixth{ -webkit-animation-delay: 1000ms;}
.seventh{ -webkit-animation-delay: 1250ms;}
.eigth{ -webkit-animation-delay: 1500ms;}



/* KEYFRAMES */


@-webkit-keyframes left-fast{
0%{ opacity: 0; -webkit-transform: translateX(100px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }

 @-webkit-keyframes right-fast{
0%{ opacity: 0; -webkit-transform: translateX(-100px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }

 @-webkit-keyframes roll-in-left{
0%{ opacity: 0; margin-left:-500px; -webkit-transform:rotateX(550deg);}
100%{ opacity: 1;}
 }

 @-webkit-keyframes up{
0%{ bottom:-185px;}
100%{ bottom:0px;}
 }

  @-webkit-keyframes down{
0%{ bottom:0px;}
100%{ bottom:-185px;}
 }


@-webkit-keyframes fade-in{
0%{ opacity:0;}
100%{ opacity:1;}
 }


/* SENCHA ANIMATIONS */
