.mainnav {
	padding:3em 0;

	ul{
		float:right;
		li {
			float:left;
			a {
				padding:1em;
				font-size: 25px;
				font-family: $body;
				line-height: 1;
				&,&:visited {
					color:$primary;
				}
				&:hover {
					opacity:.8;
				}
			}
		}
	}
}

.logo {
	float:left;
	height:auto;
	width:200px;
	display:inline-block;
	padding:20px 0;
}

.nav {
	display: inline-block;
	margin:0;
	background: white;
}