* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
body {
  background: #f3f3f3;
}

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */



.wrap {
  max-width: 940px;
  margin:auto;
  padding:2em;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.hero {
  padding:15em 0;
  background: white url('/resources/img/hero.jpg') no-repeat center;
  background-size:cover;

}

.colorbar {
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(30%,#1e5799), color-stop(30%,#ffbb42), color-stop(70%,#ffbb42), color-stop(70%,#207cca), color-stop(99%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#1e5799 30%,#ffbb42 30%,#ffbb42 70%,#207cca 70%,#207cca 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#1e5799 30%,#ffbb42 30%,#ffbb42 70%,#207cca 70%,#207cca 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#1e5799 30%,#ffbb42 30%,#ffbb42 70%,#207cca 70%,#207cca 99%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#1e5799 30%,#ffbb42 30%,#ffbb42 70%,#207cca 70%,#207cca 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */

padding:2px 0;
}

.callout {
  h1,p {
    color:white;
  }
  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  p{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }
  padding:5em 0;

  background:white url('/resources/img/hero2.jpg') no-repeat center;
  background-size:cover;

}

.mission {
  text-align: left;
  background:#ffbb42 url('/resources/img/background.png') repeat;
  padding: 3em 0;
  h1,h2 {
    margin:0;
    line-height: 1.4;
  }
  h1 {
    font-size: 48px;
    text-transform: uppercase;
    color:white;
    line-height: 1;
    font-weight: 800;
  }
  h2 {
    font-size: 18px;
    color:white;
    font-weight: 300;
  }
}

.about {
  h2,h3 {
    text-align: center;
  }
  h3 {
    opacity:.6;
    font-style: italic;
  }
  h2 {
    line-height: 1.1;
  }
  p {
    text-align: center;
    font-weight: 300;
  }
}


.about2 {
  background: #1ca8dd url('/resources/img/background.png') repeat;
  .wrap {
    background:transparent;
  }
  h2,p,h1,h3, li {
    color:white;
  }
  h3 {
    font-size: 20px;
    opacity:.4;
    font-weight: 800;
    font-style:italic;
    line-height: 1.4;
  }
}


.box {
  width:20px;
  height:20px;
  margin:1em auto;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  background: white;
}

.teal {
  background: #2ec6c7;
}
.orange {
  background: #f1872f;
}
.blue {
  background: #5db3f0;
}

.lead-in {
  text-align: center;
  h3 {
    font-weight: 300;
  }

}

.button {
  background: $link;
  border-radius:4px;
  padding:1em 3em;
  color:white !important;
  text-transform: capitalize;
  display:inline-block;
  &:hover {
    color:white !important;
    opacity:.8;
    @include transition (all .3s);
  }
}


  /* CONTACGT FORM */

/* Contact Form */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
  content: " "; display: table; 
}

.cbp-mc-form:after { 
  clear: both; 
}

.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: #ebebeb;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 0px;
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.cbp-mc-form textarea {
  min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.cbp-mc-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
background: $link;
  border-radius:4px !important;;
  padding:1em 3em;
  color:white !important;
  text-transform: capitalize;
  display:inline-block;
  width:auto;
  margin:1em auto;
  &:hover {
    color:white !important;
    opacity:.8;
    @include transition (all .3s);
  }

}

.cbp-mc-form input.cbp-mc-submit:hover {
  background: $secondary;
}

#nospam, .nospam {
  display:none;
}

.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}
