body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;
  
  font-size: 38px;
  font-weight: 800;
  line-height: 1;

  color: $primary;
}

/* PARAGRAPH */

p,li {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$secondary;
  font-weight: 300;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {

}