// COLOR PALETTE
$primary: #747b95;
$secondary: #a8afbf;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: #37c0ec;

// FONT STACKS
$heading: "rooney-sans",sans-serif;
$body: "rooney-sans",sans-serif;