 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`justin.lobaito@weloideas.com`
       &emailTpl=`snt_email_tpl`
       &emailTo=`justin.lobaito@weloideas.com, [[++primary_email]]`
       &emailSubject=`Contact Form Submission`
       &validate=`phone:required, state:required, first_name:required, last_name:required, city:required, address:required, email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A SmartCare Consultant representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		            [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
		            [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
		            [[!+fi.error.city:!empty=`<p>City is required</p>`]]
		            [[!+fi.error.state:!empty=`<p>State is required</p>`]]
					[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="cbp-mc-form row-fluid" action="[[~[[*id]]]]" method="post"  >
                        
                            <div class="row-fluid">
                                <div class="span6">
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="span6">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                            </div>
                            <label for="email">Email Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                            <label for="phone">Phone<sup>*</sup></label>
                            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                            
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                        <input class="cbp-mc-submit" type="submit" value="Send our way" />
                    </form>
                  