/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "rooney-sans", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "rooney-sans", sans-serif;
  color: #747b95;
}

/* line 13, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 800;
  line-height: 1;
  color: #747b95;
}

/* PARAGRAPH */
/* line 25, ../sass/_typography.scss */
p, li {
  font-family: "rooney-sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #a8afbf;
  font-weight: 300;
}

/* line 34, ../sass/_typography.scss */
a {
  color: #37c0ec;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 38, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* LISTS */
/* line 1, ../sass/_navigation.scss */
.mainnav {
  padding: 3em 0;
}
/* line 4, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 6, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 8, ../sass/_navigation.scss */
.mainnav ul li a {
  padding: 1em;
  font-size: 25px;
  font-family: "rooney-sans", sans-serif;
  line-height: 1;
}
/* line 13, ../sass/_navigation.scss */
.mainnav ul li a, .mainnav ul li a:visited {
  color: #747b95;
}
/* line 16, ../sass/_navigation.scss */
.mainnav ul li a:hover {
  opacity: .8;
}

/* line 24, ../sass/_navigation.scss */
.logo {
  float: left;
  height: auto;
  width: 200px;
  display: inline-block;
  padding: 20px 0;
}

/* line 32, ../sass/_navigation.scss */
.nav {
  display: inline-block;
  margin: 0;
  background: white;
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-name: left-fast;
  -webkit-animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 10, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-name: right-fast;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 17, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-name: roll-in-left;
  -webkit-animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.up {
  -webkit-animation-name: up;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 31, ../sass/_animations.scss */
.down {
  -webkit-animation-name: down;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 38, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 45, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1.8s;
}

/* line 49, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
}

/* line 53, ../sass/_animations.scss */
.first {
  -webkit-animation-delay: 250ms;
}

/* line 54, ../sass/_animations.scss */
.second {
  -webkit-animation-delay: 375ms;
}

/* line 55, ../sass/_animations.scss */
.third {
  -webkit-animation-delay: 500ms;
}

/* line 56, ../sass/_animations.scss */
.fourth {
  -webkit-animation-delay: 625ms;
}

/* line 57, ../sass/_animations.scss */
.fifth {
  -webkit-animation-delay: 750ms;
}

/* line 58, ../sass/_animations.scss */
.sixth {
  -webkit-animation-delay: 1000ms;
}

/* line 59, ../sass/_animations.scss */
.seventh {
  -webkit-animation-delay: 1250ms;
}

/* line 60, ../sass/_animations.scss */
.eigth {
  -webkit-animation-delay: 1500ms;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 68, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  /* line 69, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes right-fast {
  /* line 73, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  /* line 74, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes roll-in-left {
  /* line 78, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 79, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 83, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 84, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 88, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 89, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 94, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 95, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

/* SENCHA ANIMATIONS */
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/* line 16, ../sass/_smallest.scss */
body {
  background: #f3f3f3;
}

/* RESPONSIVE IMAGES */
/* line 22, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 29, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 38, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
  padding: 2em;
}
/* line 42, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 47, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 65, ../sass/_smallest.scss */
.hero {
  padding: 15em 0;
  background: white url("/resources/img/hero.jpg") no-repeat center;
  background-size: cover;
}

/* line 72, ../sass/_smallest.scss */
.colorbar {
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e5799), color-stop(30%, #1e5799), color-stop(30%, #ffbb42), color-stop(70%, #ffbb42), color-stop(70%, #207cca), color-stop(99%, #207cca));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%);
  /* IE10+ */
  background: linear-gradient(to right, #1e5799 0%, #1e5799 30%, #ffbb42 30%, #ffbb42 70%, #207cca 70%, #207cca 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 );
  /* IE6-9 */
  padding: 2px 0;
}

/* line 85, ../sass/_smallest.scss */
.callout {
  padding: 5em 0;
  background: white url("/resources/img/hero2.jpg") no-repeat center;
  background-size: cover;
}
/* line 86, ../sass/_smallest.scss */
.callout h1, .callout p {
  color: white;
}
/* line 89, ../sass/_smallest.scss */
.callout h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
/* line 95, ../sass/_smallest.scss */
.callout p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

/* line 107, ../sass/_smallest.scss */
.mission {
  text-align: left;
  background: #ffbb42 url("/resources/img/background.png") repeat;
  padding: 3em 0;
}
/* line 111, ../sass/_smallest.scss */
.mission h1, .mission h2 {
  margin: 0;
  line-height: 1.4;
}
/* line 115, ../sass/_smallest.scss */
.mission h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  font-weight: 800;
}
/* line 122, ../sass/_smallest.scss */
.mission h2 {
  font-size: 18px;
  color: white;
  font-weight: 300;
}

/* line 130, ../sass/_smallest.scss */
.about h2, .about h3 {
  text-align: center;
}
/* line 133, ../sass/_smallest.scss */
.about h3 {
  opacity: .6;
  font-style: italic;
}
/* line 137, ../sass/_smallest.scss */
.about h2 {
  line-height: 1.1;
}
/* line 140, ../sass/_smallest.scss */
.about p {
  text-align: center;
  font-weight: 300;
}

/* line 147, ../sass/_smallest.scss */
.about2 {
  background: #1ca8dd url("/resources/img/background.png") repeat;
}
/* line 149, ../sass/_smallest.scss */
.about2 .wrap {
  background: transparent;
}
/* line 152, ../sass/_smallest.scss */
.about2 h2, .about2 p, .about2 h1, .about2 h3, .about2 li {
  color: white;
}
/* line 155, ../sass/_smallest.scss */
.about2 h3 {
  font-size: 20px;
  opacity: .4;
  font-weight: 800;
  font-style: italic;
  line-height: 1.4;
}

/* line 165, ../sass/_smallest.scss */
.box {
  width: 20px;
  height: 20px;
  margin: 1em auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: white;
}

/* line 173, ../sass/_smallest.scss */
.teal {
  background: #2ec6c7;
}

/* line 176, ../sass/_smallest.scss */
.orange {
  background: #f1872f;
}

/* line 179, ../sass/_smallest.scss */
.blue {
  background: #5db3f0;
}

/* line 183, ../sass/_smallest.scss */
.lead-in {
  text-align: center;
}
/* line 185, ../sass/_smallest.scss */
.lead-in h3 {
  font-weight: 300;
}

/* line 191, ../sass/_smallest.scss */
.button {
  background: #37c0ec;
  border-radius: 4px;
  padding: 1em 3em;
  color: white !important;
  text-transform: capitalize;
  display: inline-block;
}
/* line 198, ../sass/_smallest.scss */
.button:hover {
  color: white !important;
  opacity: .8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* CONTACGT FORM */
/* Contact Form */
/* line 209, ../sass/_smallest.scss */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 215, ../sass/_smallest.scss */
.cbp-mc-form:before,
.cbp-mc-form:after {
  content: " ";
  display: table;
}

/* line 219, ../sass/_smallest.scss */
.cbp-mc-form:after {
  clear: both;
}

/* line 223, ../sass/_smallest.scss */
.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "rooney-sans", sans-serif;
  color: #747b95;
}

/* line 235, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: "rooney-sans", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #747b95;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 247, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 254, ../sass/_smallest.scss */
.cbp-mc-form textarea {
  min-height: 200px;
}

/* line 261, ../sass/_smallest.scss */
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid #747b95;
}

/* line 266, ../sass/_smallest.scss */
.cbp-mc-form select:focus {
  outline: none;
}

/* line 270, ../sass/_smallest.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 275, ../sass/_smallest.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 280, ../sass/_smallest.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 285, ../sass/_smallest.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 290, ../sass/_smallest.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 296, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit {
  background: #37c0ec;
  border-radius: 4px !important;
  padding: 1em 3em;
  color: white !important;
  text-transform: capitalize;
  display: inline-block;
  width: auto;
  margin: 1em auto;
}
/* line 305, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit:hover {
  color: white !important;
  opacity: .8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 313, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit:hover {
  background: #a8afbf;
}

/* line 317, ../sass/_smallest.scss */
#nospam, .nospam {
  display: none;
}

/* line 321, ../sass/_smallest.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 325, ../sass/_smallest.scss */
.thumbs img {
  width: 100%;
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
